[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker-compose = "*"
restview = ">=2.8.1"
rst = ">=0.1"
caniusepython3 = "*"
isort = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
mock = "*"
pytest-cov = "*"
pytest = ">=3.7.2"
tox = "*"
ipython = "*"
parso = "*"
pyyaml = "*"
PyHamcrest = "*"
bumplus = ">=0.0.8"
bumpversion = ">=0.5.3"
pre-commit = "*"
pygments = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
sphinx-intl = "*"
django-extensions = "*"
pytest-deadfixtures = ">=2.1.0"
pytest-django = ">=3.4.4"
pytest-factoryboy = ">=2.0.2"
pytest-picked = ">=0.4.1"
pytest-pythonpath = "*"
pytest-tldr = ">=0.1.5"
pytest-runner = "*"
pyhamcrest = "*"
behave-django = ">=1.3.0"
factory-boy = ">=2.10.0"
django-debug-toolbar = ">=1.11"

[packages]
psycopg2-binary = "*"
django = "*"
django-environ = "*"

[scripts]
test = "pytest"

[requires]
python_version = "3.8.0"
